@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://img.freepik.com/premium-photo/tiktok-minimal-logo-tiktok-clean-background_125322-8.jpg?w=2000") no-repeat center center fixed;
    background-size: cover;
  }
#text{
    height: 100%;
    font-size: 13px;
    overflow: auto;
    font-style: italic;
    text-align: center;
    background-color: white;
}
#generate{
    width: 100%;
    color: #fff;
    padding: 12px 0;
    margin-top: 20px;
    background: #2680d4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}
#generate:hover{
    background-color: #3a97d4;
}
#main_area{
    width: auto;
    background: #fff;
    border-radius: 12px;
    padding: 30px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
#heading{
    text-align: center;
}
